* {
    box-sizing: border-box;
}
div {
    border: 1px transparent red;
    
}
h2 {
    color: rgb(173, 88, 238);
    text-align: center;
    padding: 10px;
    font-size: 6vw;
}
body {
    background-color: rgb(43, 43, 43);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.con {
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 30vh;
    width: 90vw;
}
.container {
    margin-bottom: 2vh;
}
.tabs {
    width: 100%;
    background-color: rgb(126, 79, 184);
    height: 100%;
    font-size: 5vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    padding: 15px;
    padding-bottom: 15px;
    border: 0px transparent transparent;
}
.tabs:hover {
    background-color: rgb(102, 57, 153);
    cursor: pointer;
}
a {
    color: rgb(207, 207, 207);
    font-size: 2vw;
}
